

  .item-display{
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'IM Fell French Canon SC', serif;
  }

  .item-form {
    display: flex;
  }

  .edit-item-row-1{
    display: flex;
    flex-direction: row;
  }
  .edit-item-row-2{
    display: flex;
    flex-direction: row;
  }
  .edit-item-row-3{
    display: flex;
    flex-direction: row;
  }
  .edit-item-row-4{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .item-form > * {
    margin: 5px;
  }

  #item-form-text-box {
    width: 400px;
    height: 200px;
  }

  #item-edit-button {

  }

  #item-delete-button {

  };
