#welcome-page {
    border: solid black 2px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: scroll;
}

#temp-form{
    justify-self: center;
}

#welcome-screen-mobile-login{
    visibility: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

#welcome-message{
    font-family: 'Junge', serif;
    justify-self: center;
    align-items: center;
    font-size: .9vw;
}

#left-column{
    width: 55%;
}

#right-column{
    width: 45%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

#lewt-welcome{
    animation: 0.5s ease slideInFromBottom;
    float: right;
    width: 68%;
}

#mobile-break{
    visibility: hidden;
}

@keyframes slideInFromBottom{
    0%{
        transform: translateY(1000px);
    }

    100%{
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    #left-column{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    #lewt-welcome{
        visibility: hidden;
    }
    #right-column{
        width: 100%;
    }
    #welcome-message{
        font-size: 1.25rem;
    }
    #welcome-page{
        flex-direction: column;
    }
    #mobile-break{
        visibility: visible;
    }
}

@media (orientation: portrait) {
    #welcome-page{
        height: 100%;
    }

    #left-column{
        visibility: hidden;
        width: 0px;
    }

    #right-column{
        width: 100%;
        overflow-y: hidden;
    }

    #welcome-message{
        font-size: 3vw;
    }

    #welcome-screen-mobile-login{
        visibility: visible;
    }
    #mobile-break{
        visibility: visible;
    }
}
