#welcome-page {
    border: solid black 2px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#temp-form{
    justify-self: center;
}

#welcome-message{
    justify-self: center;
    align-items: center;
}

#right-column{
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

#lewt-welcome{
    animation: 0.5s ease slideInFromBottom;
}

@keyframes slideInFromBottom{
    0%{
        transform: translateY(1000px);
    }

    100%{
        transform: translateY(0);
    }
}
