.sub-member-fund-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'IM Fell French Canon SC', serif;
}

.sub-member-fund-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-member-fund-form > * {
    margin: 10px;
}

#sub-member-fund-confirm {
    background: white;
    border: 2px solid black;
    margin-top: 2px;
    color: black;
    height: 35px;
    width: 100px;
}
