#main-page {
    border: solid black 2px;
    height: calc(100% - 200px);
    display: grid;
    grid-template-columns: 23% 77%;
}


#side-container {
    float: left;
}

#main-container {
    float: right;
}
