#main-page {
    border: solid black 2px;
    display: grid;
    grid-template-columns: 23% 77%;
}


#side-container {
    float: left;
}

#main-container {
    float: right;
}

.item-row {
    padding: 5px;
    box-sizing: border-box;
    border: black solid 1px;
    font-size: 18pt;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
