#footer {
    box-sizing: border-box;
    align-items: center;
    border: solid black 2px;
    object-fit: contain;
    font-size: 18pt;
    display: flex;
}

#linkedin {
    padding-top: 5px;
    padding-left: 5px;
    height: 3vmax;
    object-fit: contain;
}

#twitter {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 3vmax;
    object-fit: contain;
}

#github {
    padding-top: 5px;
    height: 3vmax;
    object-fit: contain;
}

#ko-fi-link {
    flex-basis: 60%;
}

#ko-fi {
    float: right;
    height: 4vmin;
}
