#app-wrapper {
    max-width: 2000px;
    margin-left: 12%;
    margin-right: 12%;
    border: solid black 6px;
    height: 100%;
    box-sizing: border-box;
    background-color: whitesmoke;
    position: sticky;
    display: grid;
    grid-template-rows: 10% 4% 78% 8%;
    overflow-y: hidden;
}
