#app-wrapper {
    margin: 0 12%;
    border: solid black 6px;
    height: 100%;
    box-sizing: border-box;
    background-color: whitesmoke;
    position: sticky;
    display: grid;
    /* grid-template-rows: 10% 4% 78% 8%; */
    grid-template-rows: 10vh 4vh 78vh 8vh;
    overflow-y: hidden;
}

@media (max-width: 600px) {
    #app-wrapper{
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (orientation: portrait) {
    #app-wrapper{
        display: grid;
        grid-template-rows: 0px 0px 90vh 10vh;
        overflow-y: hidden;
        margin-left: 0;
        margin-right: 0;
        height: 100%;
    }
}
