@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
#header {
    box-sizing: border-box;
    border: solid black 2px;
    font-weight: bolder;
    font-size: 28pt;
    text-align:justify;
    font-family: 'Junge', serif;
    font-weight: 700;
}

#delve-text {
    margin-right: 50px;
    float: right;
}
