.add-member-fund-display {
    display: flex;
    flex-direction: column;
}

#add-member-fund-confirm {
    background: white;
    border: 2px solid black;
    margin-top: 2px;
    color: black;
    height: 35px;
    width: 100px;
}
