* {
    box-sizing: border-box;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }

.add-member-fund-form {
    display: flex;
}

#member-add-plat-row {
    display: flex;
    flex-direction: row;
}
#member-add-gold-row {
    display: flex;
    flex-direction: row;
}
#member-add-silver-row {
    display: flex;
    flex-direction: row;
}
#member-add-copper-row {
    display: flex;
    flex-direction: row;
}

#add-member-fund-confirm {
    background: white;
    border: 2px solid black;
    margin-top: 2px;
    color: black;
    height: 35px;
    width: 100px;
}
