@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

#sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0%;
}

#sidebar.party-block {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 25%;
}

#sidebar.member-block {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20%;
}
