@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

#sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0%;
}

.party-block {
    border: solid black 1px
}

.member-block {
    border: solid black 1px
}
