#sidebar {
    border: solid black 2px;
    text-align: center;
    margin-left: 0%;
    height: 100%;
}

.party-block {
    border: solid black 1px;
    text-align: center;
    font-size: 20pt;
    font-weight: bolder;
    padding: 5px;
    margin: 5px;
    background-color: cadetblue;
}

.member-block {
    border: solid black 1px;
    text-align: center;
    font-size: 20pt;
    font-weight: bolder;
    padding: 5px;
    margin: 5px;
    background-color: cadetblue;
}
