@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

html{
    height:100%;
    font-size:14pt;
}

body {
    padding: 0%;
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-y: hidden;
    background-image: url('https://i.imgur.com/5vRYH79.png');
    height:100%;
    padding:0%;
}

/* Media Queries Below */

@media (max-width: 600px) {
    html{
        font-size:8pt;
        width: 100%;
        overflow-x: hidden;
    }

    body{
        width: 100%;
        margin: 0px;
    }
}
