@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

#body {
    padding: 0%;
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    overflow-y: hidden;
}
