@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

#profile-button {
  background: white;
  border: 2px solid black;
  margin-top: 2px;
  color: black;
  font-weight: bolder;
  height: 35px;
  width: 100px;
  font-family: 'IM Fell French Canon SC', serif;
  };
