* {
    box-sizing: border-box;
  }

  #party-report {
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'IM Fell French Canon SC', serif;
  }

  #party-report-members{
    display: flex;
    flex-direction: row;
  }
  #party-report-liquid-wealth{
    display: flex;
    flex-direction: row;
  }
  #party-report-material-wealth{
    display: flex;
    flex-direction: row;
  }
  #party-report-total-wealth{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
