* {
    box-sizing: border-box;
  }

  .party-report {
    display: flex;
  }

  #party-report-members{
    display: flex;
    flex-direction: row;
  }
  #party-report-liquid-wealth{
    display: flex;
    flex-direction: row;
  }
  #party-report-material-wealth{
    display: flex;
    flex-direction: row;
  }
  #party-report-total-wealth{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
