

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form-title {
  font-family: 'IM Fell French Canon SC', serif;
}

.login-form > *{
  margin: 10px;
}
