* {
    box-sizing: border-box;
  }

  .item-box {
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;

  }

  .item-form > * {
    margin: 5px;
  }

  .new-item-row-1{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
  }
  .new-item-row-2{
    display: flex;
    flex-direction: row;
  }
  .new-item-row-3{
    display: flex;
    flex-direction: row;
  }
  .new-item-row-4{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .item-form {
    display: flex;
    flex-direction: row;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }

  #new-item-submit {
    background: white;
    border: 2px solid black;
    margin-top: 2px;
    color: black;
    height: 35px;
    width: 100px;
  }

  #item-form-text-box {
    width: 400px;
    height: 200px;
  }
